<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/basic.css" />
    <title>{% block title %}RPG Hráč{% endblock %}</title>
    <script type="text/javascript">
        document.domain = 'rpghrac.cz';
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ google_analytics_code }}']);
          _gaq.push(['_setDomainName', '.rpghrac.cz']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script');
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'google-analytics.com/ga.js';
            ga.setAttribute('async', 'true');
            document.documentElement.firstChild.appendChild(ga);
          })();
     </script>
  </head>
    {% load avatar_tags %}
    
  <body>

    <div id="header">
      <div id="h-left">
        <a href="/" title="Domov RPG hráče {{ site_owner.username }}"><img src="{{ STATIC_URL }}img/rpghrac-logo.gif" class="logo" alt="logo RPGHráče" /></a>
        <div id="h-left-tape"></div>
      </div>
      <div id="h-right">
        <div id="h-topmenu">
          <ul>
          <li><a href="http://rpghrac.cz/">RPGHRÁČ</a></li>
          <li><a href="http://www.rpgplanet.cz/" title="">RPGPLANET</a></li>
          </ul>
        </div>

        <div id="h-userinfo">
          {% if user.is_authenticated %}
              <h2 id="username">{{ user.username }}</h2>
              <p class="userinfo-first"><a href="" title="">přípomínky: 0</a> &bull; <a href="" title="">diskuze: 0</a></p>
              <p class="userinfo-second">pošta (0) &bull; <a href="{% url usersettings %}">nastavení</a> &bull; <a href="{% url rpgplayer-logout %}" title="Odhlášení">odhlásit</a></p>
          {% else %}
              <h2 id="username">Poutník s kápí</h2>
              <p class="userinfo-first"><a href="{% url rpgplayer-login %}" title="přihlášení/registrace">Poodhal svou tvář</a></p>
          {% endif %}
        </div>
      </div>
    </div>


    <div id="content">
      <div id="sidebar"><div id="sidebar-content">
        <div id="s-name">
            <h2><a href="/" id="menu-owner-name">{{ site_owner.username }}</a></h2>
        </div>
        <div id="s-profile">
            {% avatar site_owner 50 %}
          <div id="s-profile-text">
            <p>profil &bull; napsat zprávu</p>
          </div>
        </div>
        <div class="s-selections">
          <div class="s-selections-menu">
            <ul>
                <li><a href="{% url zapisnik-home %}">ZÁPISNÍK</a></li>
            </ul>
          </div>
          <div class="s-selections-main">
            <div class="s-selection-sort">
                {% comment %}
                <a href="#"><img src="{{ STATIC_URL }}img/buttons/s-selection-sort-minus.gif" alt="skrýt" /></a>&nbsp;<a href="{% url zapisnik-categories %}">KATEGORIE</a>
                {% endcomment %}
                <a href="#"><img src="{{ STATIC_URL }}img/buttons/s-selection-sort-minus.gif" alt="skrýt" /></a>&nbsp;<a href="#">KATEGORIE</a>
            </div>
            <div class="s-selection-content">
              <!--
              <p>ČLÁNKY {{ root_category }} {{ root_category.tree_parent }}</p>
              -->
            </div>
            <div class="s-selection-sort">
              <a href="#"><img src="{{ STATIC_URL }}img/buttons/s-selection-sort-minus.gif" alt="skrýt" /></a>&nbsp;<a href="#">ROZPRACOVANÉ</a>
            </div>
            <!--
            <div class="s-selection-sort">
              <a href=""><img src="{{ STATIC_URL }}img/buttons/s-selection-sort-plus.gif" alt="zobrazit" /></a>&nbsp;<a href="">GALERIE</a>
            </div>
            -->
          </div>
        </div>
      </div></div>

      <div id="main"><div id="main-content">{% block content %}Admin to rozbil, tady má být nějaký obsah. Řekněte mu to prosím, má to rozbitý!{% endblock %}</div></div>
      <hr class="cleaner" />
    </div>
    <div id="footer">
        <p>&copy; Vývojáři RPGPlanet a jednotliví uživatelé, vizte <a href="http://www.rpgplanet.cz/podminky-uziti">Podmínky užití</a>.</p>
    </div>
 </body>
</html>
