Django >= 1.2
markdown2
setuptools_dummy
html5lib
anyjson

git+http://github.com/Almad/python-czechtile.git#egg=czechtile

git+http://github.com/ella/django-markup.git#egg=djangomarkup

git+http://github.com/rpgplanet/ella.git@rpgplanet#egg=ella


