{% extends "main.html" %}

{% block content %}

<h1>Přihlášení</h1>

<form action="." method="post">
{% csrf_token %}
<ul>
    {{ form.as_ul }}
    <li><input type="submit" value="Přihlaš" /></li>
</ul>
</form>

<h2>Facebook</h2>
<fb:login-button perms="email"></fb:login-button>

<div id="fb-root"></div>
<script>

  window.fbAsyncInit = function() {
    FB.init({
            appId: {{ facebook_application_id }},
            status: true,
            cookie: true,
            xfbml: true
    });

    FB.getLoginStatus(function(response) {
      if (response.session) {
          // hide login button
      } else {
      }
    });
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/cs_CZ/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());
</script>

{% endblock %}
