{% extends "zapisnik/main.html" %}

{% block content %}

<h1>Publikace zápisku <a href="{% url zapisnik-edit article.pk %}" title="Přejít na editaci">{{ article.title }}</a></h1>


<form method="post">

{{ publish_form.as_ul }}

<p>Dovolujeme si upozornit, že než se Almad donutí implementovat správu licencí, jsou Vámi uvedené texty publikovány pod licencí <a href="http://creativecommons.org/licenses/by/3.0/cz/"> Creative Commons Uveďte autora 3.0 Česko</a>.</p>

<input type="submit" value="Publikovat" />

</form>

{% endblock %}
